{
  "overrides": [
    {
      "files": "*.js",
      "options": {
        "semi": true,
        "singleQuote": false,
        "tabWidth": 2,
        "useTabs": false
      }
    },
    {
      "files": "*.sol",
      "options": {
        "tabWidth": 4,
        "useTabs": false
      }
    }
  ]
}